<header class="header">
      <div class="search-bar">
        <input type="text" placeholder="Search...">
      </div>
      <div class="header-right">
        <div class="notifications">
          <span class="icon">🔔</span>
          <span class="badge">3</span>
        </div>
        <div class="user-profile">
          <img src="https://images.pexels.com/photos/31995641/pexels-photo-31995641/free-photo-of-man-in-suit-and-cap-with-dreadlocks-outdoors.jpeg?auto=compress&cs=tinysrgb&w=600" alt="User Avatar" class="avatar">
          <span class="username">{{ username }}</span>
        </div>
      </div>
    </header>